.card_services {
    background: linear-gradient(60deg, rgb(1, 212, 226) 0%, rgb(36, 122, 145)35%, rgb(36, 112, 136) 100%);
    font-size: 15px;
    padding: 20px 20px 0;
    border-radius: 50px !important;
    border: solid black;
}
.text-name_services {
    text-align: left;
}

.card-text_services {
    padding-bottom: 10%;
    color: rgb(214, 214, 214) ;
    
}

.topic_srvices {
    border-radius: 8px;
}

.btn-groub_services {
    margin: 30px;
}

.btn-groub_services .btn {
    background-color: #a1c4cc;
    margin: 8px;
    border-radius: 20px !important;
    font-size: 15px;
}

.btn_services:hover {
    background: rgb(34, 193, 195);
}

.input-group-text_services {
    background-color: #0e3b46;
}

.card-title_services {
    color: aliceblue;
}

.note_services {
    width: 100%;
    height: 100px;
}

.error-input-hadi {
    color: red;
    text-align: end;
}