
  .aa{
    padding-left: 150px;
    color: coral;
    
  }
  
  .ww{
    padding-left: 120px;
    background-color: aliceblue;
    
   
  }
  .ee{
    padding-left: 150px;
  }
  
  .hh{
    color: white;
    background-image: url("2.png") ;
    padding: 130px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1519px 350px;
  }
   