
.card_electricity{
    background: linear-gradient(90deg, rgb(1, 212, 226) 0%, rgb(36, 122, 145)35%, rgb(36, 112, 136) 100%);
width: 40%;
font-size: 15px;
padding: 20px 20px 0;
left: 30%;
position: absolute;
border-radius: 50px !important;
border:solid black;
box-sizing: border-box;

}
.text-name_electricity{
text-align: left;

}
.topic_electricity{

border-radius: 8px;
}
.btn-groub_electricity{
margin: 30px;
}
.btn-groub_electricity .btn{
    background-color: #15404a;
margin: 8px;
border-radius: 20px !important;
font-size: 12px;
border: 2px solid #000000;
}
.btn_electricity:hover{
background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,179,253,0.5833683815323004) 100%);
}
.input-group-text_electricity{
background-color: #0e3b46;
}
.card-title_electricity{
font-family: 'Rubik Distressed', cursive;

}
.adress{
    font-family: 'Lobster', cursive;
}
.note_electricity{
width: 100%;
height: 100px;
}
