body{
    background-color: rgb(164, 163, 160);
}
.card{
    background: linear-gradient(90deg, rgb(1, 212, 226) 0%, rgb(36, 122, 145)35%, rgba(0,212,255,1) 100%);
width: auto;
height:auto;
font-size: 15px;
padding: 20px 20px 0;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
position: absolute;
}
.text-name{
text-align: left;
}
.topic{
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
border-radius: 8px;
}
.btn-groub{
margin: 20px;
}
.btn-groub .btn{
background-color: #12336e;
margin: 8px;
border-radius: 20px !important;
font-size: 12px;
border: 2px solid #000000;
}
.btn:hover{
background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,179,253,0.5833683815323004) 100%);
}
.img{
height: auto;
width: auto;
}
.pic{
border-image: 20px;
row-gap: 50%;
width:100%
;
}
.input-group-text{
background-color: #001ae9;
}
.card-title{
    font-family: 'Nerko One', cursive;
font-family: 'Rubik Distressed', cursive;
}
.adress{
    font-family: 'Lobster', cursive;
}