
  .transmissionSteps{
    padding-left: 130px;
  }
  
  .conversionSteps{
    padding-left: 130px;
    background-color: aliceblue;
    
   
  }
  .styleNote{
    padding-left: 130px;
  }
  
  .headerTrans{
    color: white;
    margin-bottom: -8px;
    background-image: url("../../../images/MonyTransfer.png") ;
    padding: 130px;
  background-repeat: no-repeat;
  background-size: 100% 95%;
  }
  @media (max-width: 844px){
    .headerTrans{
      font-size:40px;
    }
  }
  .StelyTitle{
    color: coral;
    
    
  }
   .StyleParagrap{
    margin-bottom: 1px;
  }
  