
  .transmissionSteps{
    padding-left: 150px;
  }
  
  .conversionSteps{
    padding-left: 120px;
    background-color: aliceblue;
    
   
  }
  .styleNote{
    padding-left: 150px;
  }
  
  .headerTrans{
    color: white;
    background-image: url("../../../image/MonyTransfer.png") ;
    padding: 130px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1519px 350px;
  }
   .StelyTitle{
    color: coral;
   }
   .StyleParagraph{
    margin-bottom: 1px;
  }
  