.StyleHeaderMobile{
    color: white;
    background-image: url("../../../images/MobileTopUp.png") ;
    padding: 130px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1700px 330px;
  }

  .StyleTitle{
    padding-left: 150px;
    color: coral;
    
  }
  .StyleParagraph{
    padding: -1px;
    padding-left: 150px;
    
    
  }
  
  .StyleBenefits{
    padding-left: 200px;
  }
  .RechargeSteps{
    padding-left: 150px;
    background-color: aliceblue;
  }
  
  .StyleTransactions{
    padding-left: 50px;
  }
 
 