.rag{
    background-color: #23697a;
}
.btnGetSterted{
background-color:#c492b2!important;
border:none;
color: aliceblue;
border-radius: 20px !important;
}

.textGetStarted{
    color: aliceblue;
    font-family: 'Courier New', monospace;

}