.sectionGetStart {
    background-color: #23697a;
}
.btnGetSterted {
    background-color: #b884a5 !important;
    border: none;
    color: aliceblue;
    border-radius: 20px !important;
}
.textGetStarted {
    color: aliceblue;
    font-family: 'Courier New', monospace;
    font-size: xx-large;
}