.sectionGetStart {
    background-color: #23697a;
    position: static;
}
.btnGetSterted {
    background-color: #b884a5 !important;
    border: none;
    color: aliceblue;
    border-radius: 20px !important;
    size:70%;
}
.textGetStarted {
    color: aliceblue;
    font-size: xx-large;
}