.bills{
    padding-left: 150px;
    color: coral;

  }
  .paybill{
    padding: -1px;
    padding-left: 150px;
    
  }
  
  .right{
    padding-left: 200px;
  }
  .descrip{
    padding-left: 140px;
    background-color: aliceblue;
    color: coral;
    
   
  }
  
  .ment{
    color: #fff;
    background-image: url("../../../images/Mo.png") ;
    padding: 130px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1540px 360px;
  }