
.bodyServices{
    /* background:radial-gradient(#E5E5E5,#ffff,#E5E5E5); */
    padding: 0 300px;
    padding-top: 300px;
    padding-right: 00px;
    padding-bottom: 0px;
    padding-left: 00px;
}
.caaard {
    font-size: 15px;
    height: 200%;
    padding: 20px 20px 0;
    left: 50%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    margin: 10px;
    border-radius: 5rem;
    display: inline-block;
}
.caaard-bodyy{
    padding: 3rem 0 !important;
}
.caaard:hover{
    box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.235) !important ;
    background: linear-gradient(0deg, rgb(206, 221, 221) 0%, rgba(117, 162, 187, 0.583) 100%);

    border-radius: 5rem ;
    /* background: #022A5E; */
    border: solid #8698bb;
}
.caaard-textt{
    color: #050911;
    font-size: 0.9rem;
    padding: 0.4rem 1.9rem;
}
.buttooon:hover{
    background:#8698bb!important;

}
.buttooon{
    

    border: #5a6475  !important;
    margin: 8px;
    border-radius: 20px !important;
}
.ovver{
    overflow: hidden;
    border-radius: 20px;
}
.caaard-img-top{
    transform: scale(1);
    transition:transform 0.5s ease ;
}
.caaard-img-top:hover{
    transform: scale(1.8);
}
.caaard-title{
    color: #81A7D1;
}