.card-header-malak1{
   font-size: x-small;
   color: #ffffff;
   margin-top:1rem;
   margin-left:1rem;
}

 .cardChart1{
   width: 40%;
   height:10%;
 }
 .card-body-malak{
   flex: 1 1 auto;
   padding: 1rem 1rem;
   display: flex;
 }


.malakContainer{
    background-color: #ffffff;
    border: 1px solid rgba(242, 241, 241, 0.1);
    margin-top:5rem;
    max-width: 100%;
    margin-left: 20rem;
    }



     .chart-malak{
      margin-bottom: 1rem;
     margin-right: 3rem;
     width:100%;
      } 

  

 .card-header-bar{
   margin-left:1rem;
   color: rgb(156, 153, 153);
   font-size: xx-small;
} 

.cardChart-bar{
  padding:5px;
  width:100%;
}

.card-body-bar{
   background-color: #ffffff;
}

.cardChart-line{
font-size: xx-small;
width:100%;
padding:5px;
}


.card-header-line{
   margin-left:1rem;
   color: rgb(130, 128, 128);
   font-size: xx-small;
  
}
.card-body-line{
   background-color: #ffffff;
   width: 100%;
}