.sidebar{
    background-color: #115262;
}
.avatar{
    background-image: url("../../../src/images/avatar-pic.jpg");
    background-size: 40px;
    width: 40px;
    margin-left: 30px;
    border-radius: 300px;
    height:40px;
    margin-right: 100px;
    margin-top: -20px;
}
.bi-list {
    color: white;
    font-size: 30px;
    text-align: center;
}
.nam{
    border: none;
    color: white !important;
    height: 100px;
    font-family: sans-serif;
    border: 30px;
    font-size: 20px;
    position: relative;
   top: 15px;
left: 90px;
position: relative;
}
.bi-bell{
   color: white;
   position: absolute;
   right: 120px;
   top:-53px;
   font-size: 30px;
}
.offcanvas-body{
    background-color: #115262;
    margin-top: -30px;
    width: 100%;
}
.sidebar-side .nav-link {
    color: white;
    margin-top: 60px;
    font-size: 20px;
    padding-left: 90px;
}

.sidebar-side .nav-link:hover{
    color: darkgray;
    transition: 0.2s ease-in-out;
}
.in-dropdown .dropdown-item{
    background-color: #115262;
    margin-top: -10px;
    margin-bottom: -10px;
    font-size: larger;
    height: 40px;
    color: white;
    margin-left: 1px;
    margin-right: -1px;
}
.in-dropdown .dropdown-item:hover{
    background-color: #115262;
    color: darkgray;
}
.main-menu i{
    color: aliceblue;
    padding-right: 10px;
}
.notification{
    color: aliceblue;
    font-size: 0;
    top: 30px;
    right: 40px;
}
.inside li{
    background-color: white;
    padding-left:3px;
    color:black;
    font-size: 15px;
    border-radius: 10%;
    border: 10px black;
    width:200px;
}