*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
 }
.avatar{
    background-image: url("/src/images/Avatart.jpg");
    background-size: 50px;
    width: 54px;
    margin-left: 30px;
    border-radius: 50%;
    border: 1px solid white;
    height: 100px;
    cursor: pointer;
    height: 54px;
    margin-left: -60px;
    margin-top: -18px;
}
.sidebar{
    background-color: #233e47;
}
.bi-list {
    color: aliceblue;
    font-size: 30px;
    text-align: center;
}
.name{
    color: aliceblue;
    height: 100px;
    font-family: sans-serif;
    border: 30px;
    font-size: 20px;
    position: relative;
   top: 25px;
left: 5px;
}
.notification{
    position: fixed;
    height: 100px;
    max-width: 100px;
    color: #fff;
    line-height: 55px;
    text-align: center;
    font-size: 30px;
    left: 1050px;
    margin-top: 20px;
}
.offcanvas-body{
    display: block;
    background-color: #233e47;
    border: 10px solid #233e47;
    margin-top: -10px;
}
.body {
    width: 100%;
    margin-top: 30px;
    margin-top: -50px;
    background-color: #233e47;
    height:100%;
}
.body .item a{
    color:aliceblue;
    font-size: 20px;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 60px;
}
.item i{
    margin-right: 15px;
    align-items: center;
    justify-items: center;
}
.item li a{
    
    text-decoration: none;
    font-size: 1rem;
    transition: 0.5s ease-in-out;
}