*{
    box-sizing: border-box;
}


 .rroowwss{
    padding-top: 2rem;
   }  

.perent:hover{
    box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.235) !important ;
    border-radius: 2rem ;
    background: rgba(37, 109, 148, 0.583);
    background: linear-gradient(0deg, rgb(206, 221, 221) 0%, rgba(117, 162, 187, 0.583) 100%);
    border:  #23697a;
}

.containCard {
    padding: 0 190px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 170px;
  height: 20%;
} 

.lara{
   
    padding: 3rem 0 !important;
    margin: 0 auto 30px;
    width: 10%;
    height: 30%;
    border: #12336e;
    border-width: 10%;
  
}
.textlll{
    font-size: 1.2rem;
    padding: 0.4rem 1.9rem;
}
.titlelll{
    color: #12336e;
}
.card-img-top{
    transform: scale(1);
    transition: trsform .5s ease;
}
.perent{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content:center;
  }
