
  .StyleTitle{
    padding-left: 150px;
    color:coral;
  }
  .StyleParagraph{
    padding-left: 150px;
    margin-bottom: 1px;
  }
  
  .ShippingSteps{
    padding-left: 200px;
  }
  .StyleBack{
    background-color: aliceblue;
    
   
  }
  .StyleCashPhoto{
    color: #fff;
    margin-bottom: -8px;
<<<<<<< HEAD
    /* background-image: url("../../images/CashInthoughAgents.png") ; */
=======
<<<<<<< HEAD
    /* background-image: url("../../images/CashInthoughAgents.png") ; */
=======
    background-image: url("../../../images/CashInthoughAgents.png") ;
>>>>>>> b5112adabae8657da6ea8147da5367d5261fb855
>>>>>>> 82ba3494714972d15b4b6c018e8434c595b2cd84
    padding: 130px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1540px 360px;
  }
  .StyleLink{
    padding-left: 200px;
  }
  