
  .StyleTitle{
    padding-left: 50px;
    padding-right: 50px;
    color:coral;
  }
  .StyleParagraph{
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 1px;
  }
  
  .ShippingSteps{
    padding-left: 100px;
    padding-right: 100px;
  }
  .StyleBack{
    background-color: aliceblue;
    
  
  }
  .StyleCashPhoto{
    color: #fff;
    margin-bottom: -8px;
    background-image: url("../../../images/CashInthoughAgents.png") ;
    padding: 130px;
  background-repeat: no-repeat;
  background-size: 100% 93% ;
  }
  .StyleLink{
    padding-left: 100px;
    padding-right: 100px;
  }
    