.needInfo{
    display: flex;
    align-items:center ;
    flex-wrap: wrap;
    justify-content: center;
}
.raaaggghhhhhh{
    position: sticky;
    padding-top: 70%;
    /* background-color: #233e47;
    CA6D3A
     */

}