.navbarBasic {
  background-color: #043a48;
  height: 80px;
  width: 100%;
}

.logoo {
  font-size: x-large;
  font-family: fantasy;
  padding: 0 10px;
  list-style: none;
}

.navbarBasic li a {
  color: darkgray;
  text-align: center;
}

.navbarBasic .collapse {
  background-color: #043a48;
}

.navbarBasic ul li {
  display: inline-block;
  line-height: 40px;
  margin: 0 22px;
  font-weight: 600;
  color: darkgray;
}

.dropBasic {
  background-color: #043a48;

 
}

.navbarBasic ul li a {

  font-size: 7px 13px;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
}
.dropdown-item{
  text-decoration: none;

}
