
:root{
 --green-color:var(--green-color)
}
body{
  font-family: "Roboto",sans-serif;
  height: 10000px;
}

.navbar{
  background-color: rgb(30, 0, 113);
}

.navbar .navbar-nav .nav-link{
  color: rgb(255, 237, 237);
}
.navbar .navbar-nav .nav-link.active{
  color: darkgreen;
}
.navbar .navbar-nav .nav-link:focus{
  color: darkgreen;
}
/* .navbar .navbar-nav .nav-link:hover,
{
  color
 } */

 .navbar .search{
  border-left:1px solid rgb(94, 122, 151);
 }
 .navbar .search svg{
  color: rgb(139, 122, 224);
 }








* { 
margin: 0;
padding: 0;
box-sizing: border-box;
}



