

body{
   margin: 0;
    background-color: #256D85;
}


.container {
    border-radius: 20px;
    background-color: #c9c7c7;
    padding: 10px;
    margin: 2cm;
    
  }

.Titel {
    text-decoration-line: underline;
    text-decoration-style: solid;
    font-size: xx-large;
    margin-top: 5rem;
    margin-left: 8cm;
   color: rgb(221, 97, 8);
 

}

.content1{
margin-top: 5rem;
margin-left: 8cm;
margin-bottom: 1cm;
}

.content2{
    margin-left: 8cm;
}




input[type=text], select {
    width: 20%;
    padding: 12px 20px;
    margin: 10px 0;
  margin-left: 18cm;
    border: 5px  #ccc;
    border-radius: 10px;
    box-sizing: border-box;
  }

  input[type=tel] {
    width: 20%;
    padding: 12px 20px;
    margin: 10px 0;
  margin-left: 18cm;
    border: 5px  #ccc;
    border-radius: 10px;
    box-sizing: border-box;

  }

  textarea {
    width: 30%;
    height: 200px;
    padding: 50px 20px;
    box-sizing: border-box;
    border: 5px  rgb(202, 202, 202);
    border-radius: 10px;
    background-color: #f8f8f8;
    resize: none;
    margin-left: 18cm;
  }
 
.btn {
    font-size: 20px;
    margin-left: 18cm;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    cursor: pointer;
    display: inline-block;

}