* { 
margin: 0;
padding: 0;
box-sizing: border-box;
}


nav{
   background-color: blueviolet;
   height: 80px;
   width: 100%;
}

body{
    font-family: sans-serif;
    line-height: 1.6;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: rgb(0, 41, 108);
}
