 @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;600&family=Open+Sans:wght@600&display=swap');
 
 .parentImg {
     position: relative;
     padding-top: 0%;
     z-index: -1;
     top: 0;
     left: 0;
     background-size: cover;
 }
 .textoverlay {
     position: absolute;
     top: 150px;
     left: 200px;
     width: 100%;
     width: 600px;
     height: 50px;
     z-index: 100;
     font-size: 50px;
     font-family: 'Open Sans', sans-serif;
 }
