.PAYMENTOFBILLSSERVICE{
  padding-left: 130px;
    padding-right: 130px;
}
  .paybill{
    margin-bottom: 1px;
  }
  .descrip{
    padding-left: 130px;
    padding-right: 130px;
    background-color: aliceblue;
  }
.HEADofthepage{
    color: coral;
    margin-top: 10px;
  }
  .ment{
    color: white;
    margin-bottom: -8px;
    background-image: url("../../../images/payment.png") ;
    padding: 130px;
  background-repeat: no-repeat;
  background-size: 100% 95%;
  }
  @media (max-width: 844px){
    .ment{
      font-size:40px;
    }
  }
.some-nots-on-paybills{
  padding-left: 130px;
  padding-right: 130px;
  background-color: aliceblue;
  
}