.bills{
    padding-left: 150px;
    color: coral;

  }
  .paybill{
    padding: -1px;
    padding-left: 150px;
    margin-bottom: 1px;
    
  }
  
  .right{
    padding-left: 200px;
  }
  .descrip{
    padding-left: 140px;
    background-color: aliceblue;
    color: black;
  }
  .HEAD{
    color: coral;
    padding-left: 140px;
  }
  
  .ment{
    color: #fff;
    background-image: url("/src/image/image/payment.png") ;
    width: 100%;
    height: 100%;
    background: cover;
    transform: translateY(-10%);
    background-blend-mode: luminosity;
    padding: 130px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1540px 360px;
  
  }
  