* {
  box-sizing: border-box;
}

.footer {
  padding: 40px 0;
  background-color: #23697A;
}

.footer .socialfooter {
  text-align: center;
}

.socialfooter a {
  text-align: center;
  right: 50%;
  padding-bottom: 10px;
  color: rgb(255, 253, 253);
  display: inline-block;
  border: 100px solid c=rgb(8, 8, 7);
  line-height: 20px;
  display: inline-block;
  border-radius: 50%;
  margin: 0 5px;
  opacity: 0.75;
  font-size: 30px;

}

.listFooter a {
  text-align: center;
  display: inline-flex;
  color: rgb(242, 238, 238);
  padding: 20px;
}
.footer ul :hover{
  color: rgb(189, 197, 204);
}


.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;

}
.listFooter a :hover{
  color: rgb(100, 37, 95);
}

.copyright {
  text-align: center;
  color: azure;
}