.about .grid{
    flex-direction: column;
  }
.about .header{
    max-width: 1083px;
  }
.aboutTitle h1{
  font-size: 85px;
  color:  #23697a; 
}
.about.container.header.aboutBeside
{
  font-size: medium;
  box-sizing: border-box;
 font-family: sans-serif;
}

.aboutText{
  font-size: medium;
  flex-wrap: wrap;

 }
.aboutText .h4{
  font-size: larger;
  color: #9bbbc4; 
  font-family: "Lucida Console", "Courier New", monospace;

}
.text1{
  font-family:'Titillium Web', sans-serif;

}
.sec3{
  background-color:rgb(236, 233, 233); 

}
.memberItem img{
  width: 40%;
}
.peopleHeader{
  font-family: "Lucida Console", "Courier New", monospace;
}
.memberIemText {
  font-family:'Titillium Web', sans-serif;
}
.aboutTitle{
  animation: fadeInLeft 1s ease forwards;
}
.aboutBeside{
  animation: fadeInRight 1.1s ease forwards;
}
.imgAbout{
  animation: fadeInRight 1.1s ease forwards;

}
@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-40px);
	}

	100% {
		opacity: 1;
		transform: translateX(20px);
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translateX(40px);
	}

	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}