*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.card{
    display: inline-block;
    width: 400px;
    text-align: center;
    min-height: 200px;
    box-sizing: border-box; 
    transition: all 0.3s ease-out;
    padding: 50px 60px;
}
.body-card{
    padding: 50px 60px;
}
.card-img{
    padding: 50px 60px;
}