*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.media{
    display: inline-block;
    height: 60px;
    width: 60px;
    /* padding: 30px; */
    margin: 20px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer; 
    box-shadow: 0px 10px 10px
    rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;

}
.media.button:hover{
    width: 200px;
}
.media.button.icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box; 
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.media.button:nth-child(1)
hover.icon{background: rgb(58, 6, 179);}
.media.button:nth-child(2)
hover.icon{background: rgb(206, 63, 94);}
.media.button:nth-child(3)
hover.icon{background: rgb(74, 139, 151);}
.media.button:nth-child(4)
hover.icon{background: rgb(226, 5, 5);}


.media.button.icon i{
    font-size: 25px;
    line-height: 60px;  
    transition: all 0.3s ease-out;
}
.media.button:nth-child(1)
span{color: rgb(58, 6, 179);}

.media.button:nth-child(2)
span{color:rgb(206, 63, 94);}

.media.button:nth-child(3)
span{color: rgb(74, 139, 151);}

.media.button:nth-child(4)
span{color: rgb(179, 6, 6);}
