
  .StyleTitle{
    padding-left: 150px;
    color:"orange";
  }
  .StyleParagraph{
    padding: -15px;
    padding-left: 150px;
    
  }
  
  .ShippingSteps{
    padding-left: 200px;
  }
  .StyleBack{
    padding-left: 140px;
    background-color: aliceblue;
    
   
  }
  .StyleCashPhoto{
    color: #fff;
    background-image: url("../../image/CashInthoughAgents.png") ;
    padding: 130px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1540px 360px;
  }
  