.about{
  color: white;
  background-color: #23697a;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.about-text{
  font-family:'Titillium Web', sans-serif;
 
}

.about-us{
  position: relative;
  top: -50%; 
  color: #000000;
}
h4{
  color: #6897a3 ;

}
img{
  position: relative;
  width: 30%;
  height: 50%;
  top: 80%;
  right: -600px;
  border: 2px ;
}
.text1{
  font-family:'Titillium Web', sans-serif;
}